<!DOCTYPE html>
<html>
  <head>
    <title>Message Box</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter your meassage here</h1>
    <form method="POST" action="/submit-form">
      <label for="senderName">Name:
        <input type="text" name="senderName"/>
      </label> <br>
      <label for="message">Message:
        <input type="text" name="message"/>
      </label> <br>
      <input type="submit"/>
    </form>
  </body>
</html>
